.MainPage {
    height: 100%;
    background-color: var(--color-cream);
}
.MainPage .main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.MainPage .container {
    padding: 30px;
    background-color: var(--color-cream);
}
.MainPage .chart-container {
    display: flex;
    flex-wrap: wrap;
}
.MainPage .chart-container__item {
    flex-grow: 1;
    width: 50%;
    margin-top: 40px;
}
.MainPage .resource-container__title {
    font-size: var(--font-size-large);
    color: var(--color-dark-purple);
}
.MainPage .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .MainPage .container {
        padding: 10px;
    }
    .MainPage .chart-container__item {
        width: 100%;
    }
}
