.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 20px;
    color: var(--color-cream);
    background-color: var(--color-dark-purple);
}

.Header .logo {
    font-size: var(--font-size-large);
}
